<% include head.ejs %>

<article>
  <header>
    <h1><%= story.sfeerwoord %></h1>
  </header>

  <img src="https://blokweb.org/uploads/<%= story.imgSmall %>" alt="<%= story.sfeerwoord %>">
</article>
