<% include head.ejs %>

<h1>Stories</h1>
<% for(var i = 0; i < stories.length; i++) {%>
<a href="/stories/<%= stories[i].verhaalId%>">
  <article>
    <header>
      <h1><%= stories[i].sfeerwoord %></h1>
    </header>

    <img src="https://blokweb.org/uploads/<%= stories[i].imgSmall %>" alt="<%= stories[i].sfeerwoord %>">

  </article>
</a>
<% } %>
