<header class="header">
    <nav>
        <ul class="header__nav">
            <li><a href="/">Home</a></li>
            <li><a href="/movies">Movies</a></li>
        </ul>
    </nav>

    <form method="get" action="/search" class="search-form" data-search-form>
        <label for="search">
            Zoeken
        </label>
        <input type="search" id="search" name="query" class="search-form__input" data-search-input/>
    </form>

</header>
