<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie trailer searcher</title>
    <link rel="stylesheet" href="/<%= revManifest['index.css'] %>">
    <link rel="manifest" href="/manifest.json">
    <script src="/<%= revManifest['index.js'] %>" defer></script>
</head>
<body>
<%- include('header') %>

<main>
