@import "variables.css";
@import "reset.css";
@import "typography.css";

.header {
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 1.2rem;
}

.header__nav {
  display: inline-flex;
}

.header__nav li a {
  margin: 10px 5px;
}

.search-form {
  margin-left: auto;
}

.search-form__input {
  font-size: 1rem;
  line-height: 1.5rem;
  border: 2px solid rgba(128, 128, 128, 0.16);
  outline: none;
}

.search-form__input:focus,
.search-form__input:active {
  border: 2px solid rgba(128, 128, 128, 0.48);
}

.container {
  margin: 10px;
  max-width: 780px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;
}

.movie-list li {
  width: 50%;
}

@media all and (min-width: 500px) {
  .movie-list li {
    width: 33%;
  }
}

@media all and (min-width: 750px) {
  .movie-list li {
    width: 25%;
  }
}

@media all and (min-width: 1024px) {
  .movie-list li {
    width: 20%;
  }
}

@media all and (min-width: 1280px) {
  .movie-list li {
    width: 16.667%;
  }
}

@media all and (min-width: 1440px) {
  .movie-list li {
    width: 12.5%;
  }
}

.movie-poster {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  background: white;
  box-shadow:  5px 5px 10px lightgray,
  -5px -5px 10px white;
}

.movie-poster__image {
  width: 100%;
  margin-bottom: 10px;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
