body {
  font: 2em / 1.5 'Arial';
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
body > h1 {
  grid-column: 1 / 4;
}

a {
  text-decoration: none;
  color: #000;
  max-height: 20em;
  overflow: hidden;
}

article img {
  width: 100%;
}
